In [ ]:
## 1.
r= int(input("Enter the radius of a circle: "))
import math as m
Area=  round(m.pi,2)*r**2
Area

Enter the radius of a circle: 3

28.26

In [ ]:
## 2.
Name= input("Enter the Name: ")
Roll_Num= int(input("Enter the roll number: "))
Mark= int(input("Enter the Mark: "))
print("Name: ",Name)
print("Roll No: ",Roll_Num)
print("Mark: ",Mark)

Enter the Name: Aisha
Enter the roll number: 10
Enter the Mark: 89
Name:  Aisha
Roll No:  10
Mark:  89

In [ ]:
## 3.
l=[12,3,47,10]
l
print(max(l),"is the largest number")

47 is the largest number

In [ ]:
## 4.

e=range(1,11)
e
for i in e:
  print ("Current number", i ,"+ Previous Number" ,i-1,"=" ,i+(i-1))

Current number 1 + Previous Number 0 = 1
Current number 2 + Previous Number 1 = 3
Current number 3 + Previous Number 2 = 5
Current number 4 + Previous Number 3 = 7
Current number 5 + Previous Number 4 = 9
Current number 6 + Previous Number 5 = 11
Current number 7 + Previous Number 6 = 13
Current number 8 + Previous Number 7 = 15
Current number 9 + Previous Number 8 = 17
Current number 10 + Previous Number 9 = 19

In [ ]:
## 5.
a=[10,20,33,46,55]
a
for i in a:
  if i % 5 == 0:
    print(i)

10
20
55

In [ ]:
## 6.
num= int(input("Enter any number:"))
# define a flag variable
flag = False

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            # if factor is found, set flag to True
            flag = True
    # check if flag is True
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

Enter any number:6
6 is not a prime number

In [ ]:
## 7.
x=[10,40,30,70]
rev=reversed[x]
for i in rev:
  print([i])

TypeError: ignored

In [ ]:
## 8.
print('*')
print('**')
print('***')
print('****')

*
**
***
****

In [ ]:
## 9.
a=[34,12,7]
maximum=max(a)
print(maximum," is the maximum number")

34

In [ ]:
## 10.

rows = 5
for i in range (0,rows):
    for j in range(0, i + 1):
        print("* ", end='')
    print("\r")
for i in range (rows, 0, -1):
    for j in range(0, i -1):
        print("* ", end='')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*